<div class="inner">
<table class="table table-striped table-bordered table-hover">
  <tr>
  	<th></th>
  	<th colspan="2">Control Group<br/><%=@experiment.control_analytics[:exposures].to_i%> Views</th>
  	<th colspan="2">Experiment Group<br/><%=@experiment.experiment_analytics[:exposures].to_i%> Views</th>
  	<th width="80px;" colspan="2">Results</th>
    <!-- <th colspan="2"></th> -->
  </tr>
  <tr>
    <th>Goal Name</th>
    <!-- <th>Unique Exposures</th> -->
    <th>Goals</th>
    <th>Conversion</th>
    <!-- <th>Unique Exposures</th> -->
  	<th>Goals</th>
  	<th>Conversion</th>
  	<th width="80px;">Performance</th>
    <th>User Participation</th>
  </tr>
<% @experiment.experiment_kpis.keys.each do |kpi| %>
  <tr>
    <td><%= kpi %></td>
    <!-- <td><%#= @experiment.control_analytics[:exposures].to_i %></td> -->
    <td><%= @experiment.control_kpis[kpi].to_i  %></td>
    <td><%= "%.4f" % @experiment.control_conversion(kpi) %>%</td>
    <!-- <td><%#= @experiment.experiment_analytics[:exposures].to_i %></td> -->
    <td><%= @experiment.experiment_kpis[kpi].to_i %></td>
    <td><%= "%.4f" % @experiment.experiment_conversion(kpi) %>%
    </td>
    <td class="<%=class_for_goal_row(@experiment.performance_perc(kpi))%>">
	<%="%.4f" % (100-((@experiment.control_conversion(kpi) / @experiment.experiment_conversion(kpi))*100)) %>%
    </td>
    <td style="padding-top:2px;">
      <div style="font-size:10px;padding:0;">
        <%-percent_complete = @experiment.experiment_progress(kpi)-%>
        <%=percent_complete.to_i%>%, 
        <%-@views_needed = @experiment.remaining_participants_needed(kpi)-%>
        <%=@views_needed > 0 ? "#{@views_needed} views needed" : "Sufficient Data"%>
      </div>
      <div class="progress progress-striped active" style="height:6px;background:#ddd;padding:0;margin:0;">
        <div class="bar" style="width: <%=percent_complete%>%;"> </div>
      </div>
    </td>
  </tr>
<% end %>
</table>
</div>
