<div class="inner">

  <%=simple_experiment(35, "control", "experiment")%>
  <%-cookies.delete('lc_tuid')-%>
  <%-mark_kpi!('fts')%>
<table class="table table-striped table-bordered table-hover">
  <tr>
  	<th></th>
  	<th colspan="2">Control Group, <%=@experiment.control_analytics[:exposures].to_i%> Views</th>
  	<th colspan="2">Experiment Group, <%=@experiment.experiment_analytics[:exposures].to_i%> Views</th>
  	<th>Results</th>
    <th></th>
  </tr>
  <tr>
    <th>Goal Name</th>
    <!-- <th>Unique Exposures</th> -->
    <th>Goals Reached</th>
    <th>Conversion</th>
    <!-- <th>Unique Exposures</th> -->
  	<th>Goals Reached</th>
  	<th>Conversion</th>
  	<th>Conversion Difference</th>
    <th>Remining Participants Needed</th>
  </tr>
<% @experiment.experiment_kpis.keys.each do |kpi| %>
  <tr>
    <td><%= kpi %></td>
    <!-- <td><%#= @experiment.control_analytics[:exposures].to_i %></td> -->
    <td><%= @experiment.control_kpis[kpi]  %></td>
    <td><%= "%.2f" % @experiment.control_conversion(kpi) %>%</td>
    <!-- <td><%#= @experiment.experiment_analytics[:exposures].to_i %></td> -->
    <td><%= @experiment.experiment_kpis[kpi].to_i %></td>
    <td><%= "%.2f" % @experiment.experiment_conversion(kpi) %>%
    </td>
    <td><%="%.2f" % (@experiment.experiment_conversion(kpi) - @experiment.control_conversion(kpi))%>%</td>
    <td>
      <div style="clear:none;float:left;padding-right:10px;">         
        <%-#percent_complete = @experiment.experiment_progress(kpi)-%>
        <%#="%.1f" % percent_complete%>%, 
        <%#=@experiment.remaining_participants_needed_for(kpi)%>
      </div>
      <div class="progress progress-striped active pull-right" style="width:120px;background:#ddd;margin:0;">
        <div class="bar" style="width: <%#=percent_complete%>%;"> </div>
      </div>
    </td>
  </tr>
<% end %>
</table>
</div>
