
        <% if @experiment.errors.any? %>
            <div id="error_explanation" class="alert alert-block">
                <h4><%= pluralize(@experiment.errors.count, "error") %> prohibited this dashboard from being saved:</h4>
                <ul>
                    <% @experiment.errors.each do |msg| %>
                        <li><%= msg %></li>
                    <% end %>
                </ul>
            </div>
        <% end %>

            <div class="control-group">
                <label class="control-label" for="name">Name</label>
                <%= text_field_tag "name", @experiment.name, :placeholder => "Humanized name" %>
            </div>

            <div class="control-group">
                <label class="control-label" for="url">Url</label>
                <%= text_field_tag "url", @experiment.url, :placeholder => "Url of experiment page" %>
            </div>

            <div class="control-group">
                <label class="control-label" for="type">Type</label>
                <%= select_tag "type", options_for_select(['Local', 'Global'], @experiment.type) %>
            </div>

            <div class="control-group">
                <label class="control-label" for="description">Description</label>
                <%= text_area_tag "description", @experiment.description, :placeholder => "What does this experiment test?", :rows=>"3" %>
            </div>

            <div class="control-group">
                <label class="control-label" for="screenshot">Screenshot (optional)</label>
                <%= text_field_tag "screenshot_url", @experiment.screenshot_url, :placeholder => "URL of screenshot" %>
            </div>

            <div class="control-group">
                <label class="checkbox control-label">
                    <input id="global_tracked_kpis_" name="global_kpis[]" type="checkbox" value="" class="js-configure-kpi-global">Global Tracked KPIs
                </label>
                <div class="controls">
                    <% Lacmus::Experiment::GLOBAL_TRACKED_KPIS.each do |kpi| %>
                    <label class="checkbox">
                        <%= check_box_tag 'global_kpis[]', kpi, @global_kpis.include?(kpi) %>
                        <%= kpi %>
                    </label>
                    <% end %>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="experiment_kpis">Experiment Tracked KPIs</label>
                <% @experiment_kpis.each do |kpi| %>
                    <%= text_field_tag 'experiment_kpis[]', kpi %>
                <% end %>
                <input id="experiment_kpis_" name="experiment_kpis[]" type="text" value="" class="js-configure-kpi-empty">
                <a href="#" class="btn js-btn-configure-kpi-empty">Add</a>
            </div>

            <div class="actions">
                <%= submit_tag "Continue", :class=>'btn btn-success btn-large' %>
            </div>
