<table class="table table-striped table-bordered table-hover medium-space-from-top">
  <tr>
    <th>Experiment Slice</th>
  	<th>ID</th>
    <th>Start</th>
    <th>Status</th>
  </tr>
  <% slots.each do |slot| %>
  <%-if slot_is_control_group?(slot)-%>
    <tr>
      <td colspan="3">Control Group Slice</td>
      <td><span class="label label-success">Active</span></td>
    </tr>
  <%-elsif slot.blank? || slot==-1-%>
    <tr>
      <td>----</td>
      <td>----</td>
      <td>----</td>
      <td>----</td>
    </tr>
  <%-else-%>
      <%-experiment = Lacmus::SlotMachine.get_experiment_from(:active, slot.to_i)-%>
      <%- experiment = {:experiment_id => slot.to_i, :name => '-- ERROR --'} if experiment == {}-%>
    <tr>
      <td><%= link_to (experiment[:name].to_s), experiment_path(slot) %></td>
      <td><%=experiment[:experiment_id] if experiment[:experiment_id].present?%></td>      
      <td>
        <%= nice_datetime(experiment[:start_time_as_int])%> (<%=time_ago_from_int(experiment[:start_time_as_int])%>)</td>

      <td>
        <%=link_to "destroy", delete_experiment_path(experiment[:experiment_id], :list=>'active'), :confirm => "Are you sure?" if experiment.present?%>
        <%=link_to( "conclude", conclude_experiment_path(experiment[:experiment_id]), :confirm => "Are you sure?")%>

    </td>
    </tr>    
  <%-end-%>
<% end %>
</table>