
<section class="experiment-list">

    <article class="experiment">

        <header>
        		<!--  Temp leaving this to test the control/exp preview -->
            <!-- <h2><%=simple_experiment(2, "control", "experiment") %></h2> -->
            <h2 class="no-pad">Global Active Experiments</h2>
            <h5 class="pull-right"><%=@global_experiments.count.to_s%> Active Slots</h5>
        </header>

        <%= render :partial => 'slot_machine', :locals => {:slots => @global_experiments} %>

    </article>

    <article class="experiment">

        <header class="row">
            <div class="span10">
                <h2>Local Active Experiments</h2>
            </div>
            <div class="span2">
                <a class="btn btn-success btn-large pull-right" href="/experiments/new">New</a>
            </div>
        </header>

        <%= render :partial => 'slice_table', :locals => {:experiments => @local_experiments} %>

    </article>

    <article class="experiment">

        <header class="row">
            <div class="span10">
                <h2>Pending Experiments</h2>
            </div>
        </header>

        <%= render :partial => 'slice_table', :locals => {:experiments => @pending_experiments} %>

    </article>

    <article class="experiment">

        <header>
            <h2>Completed Experiments</h2>
        </header>

        <%= render :partial => 'slice_table', :locals => {:experiments => @completed_experiments} %>

    </article>

</section>