<div class="experiment-show">

<div class="row header">
	<h1><%=@experiment.title.titleize%></h1>

	<p class="subtitle">
		<code>(<%=@experiment.title%>)</code>
		<span class="pull-right">Experiment Start Time: -----</span>
	</p>
</div>

<div class="row">
	<div class="hero-unit span5">
		<h1>A</h1>
		<strong>Contorl Group</strong><br/>
		<%=@experiment.description_a %>
	</div>

	<div class="hero-unit span6">
		<h1>B</h1>
		<strong>Test Group</strong><br/>
		<%=@experiment.description_b %>
	</div>
</div>
<div data-ajax="true" data-target="/experiments/data/<%=@experiment.title%>" data-interval="3">
	<%=render :partial => 'experiment_data', :locals => {:experiment => @experiment}%>
</div>

<%= link_to 'Delete', '#' %> |
<%= link_to 'Back', experiments_path %>

</div>