
<article class="experiment-show">
    
    <header>
    	<h1><%= @experiment.name.titleize if @experiment.name %></h1>
    	<p class="subtitle">
    		<code>ID: <%= @experiment.id %></code><br/><br/>
    		<span class="pull-right">Started <%=time_ago_in_words(@experiment.start_time)%> ago (<%= nice_datetime(@experiment.start_time) %>)<%=", Ended At #{nice_datetime(@experiment.end_time)}" if @experiment.end_time %></span> 
    		<%-if @experiment.url.present?-%>
    		<span class="pull-left">Preview: <%=link_to 'Experiment', experiment_preview_url(@experiment), :target=>:blank %> | <%=link_to 'Control', control_preview_url(@experiment), :target=>:blank%></span> 
    		<%-else-%>
    		<span class="pull-left">Preview Not Available (experiment URL not defined).</span>
    		<%-end-%>
    	</p>
    </header>

    <script type="text/javascript">
        document.pageScope =  {"startTime":"<%= @experiment.start_time %>"};
    </script>

<!-- 		<ul class="nav nav-tabs">
		  <li class="active"><a href="#">Stats</a></li>
		  <li><a href="#">Control Preview</a></li>
		  <li><a href="#">Experiment Preview</a></li>
		</ul>
 -->
    <div class="row" data-ajax="false" data-target="/experiments/stats/<%= @experiment.id %>?type=header" data-interval="3">
		<%= render :partial => 'experiment_header', :locals => {:experiment => @experiment} %>
    </div>

    <div class="row" data-ajax="<% if @experiment.status.to_s == "active" %>true<% else %>false<% end %>" data-target="/experiments/stats/<%= @experiment.id %>" data-interval="5">
        <%= render :partial => 'experiment_stats', :locals => {:experiment => @experiment} %>
    </div>

    <footer>
        <%= link_to 'Edit', edit_experiment_path(@experiment.id) %> |
        <%= link_to "Destroy", delete_experiment_path(@experiment.id, :list=>'active'), :confirm => "Are you sure you want to permanently destroy this experiment and all its data?"%> | 
        <%= link_to "Conclude", conclude_experiment_path(@experiment.id), :confirm => "Are you sure you want to finish this experiment?"%> |
        <%= link_to "Grab Code", get_code_experiment_path(@experiment.id)%> |
        <%= link_to "Reset", restart_experiment_path(@experiment.id), :confirm => "Are you sure you want to reset this experiment and loose all data collected so far?"%> |
        <%= link_to 'Back', experiments_path %>
    </footer>

</article>

<!--    <iframe class="experiment-preview" style="width:100%;border:1px gray solid;" src="<%=control_preview_url(@experiment)%>"></iframe>
   <iframe class="experiment-preview" style="width:100%;border:1px gray solid;" src="<%=experiment_preview_url(@experiment)%>"></iframe>
 -->