<div class="experiment-show">
<div class="row header">
	<h1><%=@experiment.name.titleize%></h1>
	<p class="subtitle">
		<code>(<%=@experiment.id%>)</code>
		<span class="pull-right">Started at <%=nice_datetime(@experiment.start_time)%><%=", Ended At #{nice_datetime(@experiment.end_time)}" if @experiment.end_time %></span> 
	</p>
</div>

<div class="row">
	<div class="hero-unit span5">
		<h1>A</h1>
		<strong>Contorl Group</strong><br/>
		Control Group, Showing Original Version
	</div>

	<div class="hero-unit span6">
		<h1>B</h1>
		<strong>Test Group</strong><br/>
		<%=@experiment.description %>
	</div>
</div>
<div data-ajax="true" data-target="/experiments/data/<%=@experiment.id%>" data-interval="3">
	<%=render :partial => 'experiment_data', :locals => {:experiment => @experiment}%>
</div>

<%= link_to 'Edit', edit_experiment_path(@experiment.id) %> |
<%=link_to "Destroy", delete_experiment_path(@experiment.id, :list=>'active'), :confirm => "Are you sure?"%> | 
<%=link_to "Conclude", conclude_experiment_path(@experiment.id, :confirm => "Are you sure?")%> |
<%=link_to "Reset", restart_experiment_path(@experiment.id, :confirm => "Are you sure?")%> |
<%= link_to 'Back', experiments_path %>

</div>